__pycache__/
.ipynb_checkpoints/
Untitled.ipynb
.eman2log.txt
cryolo_models/
Tomo.egg-info
.DS_Store
Smartscope.egg-info/
.vscode/
conf.env
Smartscope/Finders/AIFinder/detectors/weights/
Template_files/weights
static/docs-build
config/conda/conf.env
Smartscope/server/main/custom_templates/
*.sif
config/singularity/etc.hosts
config/singularity/resolv.conf
config/singularity/env.sh
Smartscope/lib/Finders/AIFinder/detectors/AR3-0528-3_atlas.png
test.ipynb
others/testing.ipynb
docs/build/
static/docs
others/*
external_plugins/*
.cache
docker-compose.yml.bak
.bash_history
.nv
.config
.python_history
MyDocker/*

.mysql_history
.gitignore
.ipython/profile_default/history.sqlite
