MYSQL_USER=smartscope
MYSQL_PASSWORD=pass
MYSQL_DATABASE=smartscope
MYSQL_HOST=192.168.1.112
MYSQL_PORT=3306
MYSQL_SSL=False

SECRET_KEY=bla

#Most likely to be customized
ALLOWED_HOSTS=localhost,127.0.0.1,dev.maison
AUTO_MIGRATION=true
USE_SSL=false
#USE_LONGTERMSTORAGE=False
TIMEZONE=America/New_York

### EXPERT SETTINGS ###
### EVERYTHING BELOW SHOULD NOT NEED TO BE CHANGED###

# #Executables
# IMOD_DIR=/usr/local/IMOD	
# CTFFIND=/usr/local/ctffind

# #Paths to config and data
APP=/mnt/smartscope/SmartScope-dev
AUTOSCREENDIR=/mnt/smartscope/data/
# AUTOSCREENSTORAGE=/mnt/longterm/
TEMPLATE_FILES=/mnt/smartscope/Template_files/
CONFIG=/mnt/smartscope/config/
EXTERNAL_PLUGINS_DIRECTORY=/mnt/smartscope/external_plugins/
DJANGO_SETTINGS_MODULE=Smartscope.core.settings.server_docker

# #Logs and temp
TEMPDIR=/mnt/smartscope/tmp/
LOGDIR=/mnt/smartscope/logs/

# #Other behaviors
USE_STORAGE=True
USE_MICROSCOPE=True 
USE_AWS=False 
DEFAULT_UMASK=002
LOGLEVEL=DEBUG
DEBUG=True
DEPLOY=False
TEST_FILES=/mnt/testfiles/

# #Cache
REDIS_HOST=192.168.1.112
REDIS_PORT=6379
