{% extends "base.html" %}
{% load static %}
{% block title %}Smartscope Browser{% endblock %}
{% block content %}
    <div id="sideNav" class="d-flex flex-column p-0 justify-content-between">
        <ul class="list-group px-0">
            <li class="list-group-item p-1" data-bs-toggle="tooltip" title="Toggle nagivation menu">
                <button id="sidebarCollapse"
                    class="btn btn-sm btn-outline-light"
                    data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-expanded="true">
                    <i class="bi bi-list-nested" ></i>
                </button>
            </li>
            <li class="list-group-item p-1" data-bs-toggle="tooltip" title="View microscope(s) status and current sessions">
                <button id="microscopeActivity"
                    class="btn btn-sm btn-outline-light"
                    hx-get="{% url 'microscopeStatus' %}"
                    hx-target="#main">
                    <i class="bi bi-activity"></i>
                </button>
            </li>
        </ul>
        <ul class="list-group px-0">
            <li class="list-group-item p-1" data-bs-toggle="tooltip" title="logout">
                <a id="logout"
                    class="btn btn-sm btn-outline-danger"
                    href="{% url 'logout' %}"">
                    
                    <i class="bi bi-box-arrow-left"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class='p-0 d-flex flex-row w-100'>
        <div id="sidebar-container" class="col-12 col-md-2">

            <div class="sidebar sidebar-collapse sidebar-expand-md collapse collapse-horizontal show" id="sidebarNav">
                <ul class="list-group sticky-top sticky-offset">
                    <li id="groups"
                        class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        GROUPS
                    </li>
                    <div id="sidebarGroups" style='max-height: 25vh; overflow: auto;'>
                    </div>

                    <li id="sessions"
                        class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        SESSIONS
                    </li>
                    <div id="sidebarSessions" style='max-height: 25vh; overflow: auto;'>
                    </div>


                    <li id="grids"
                        class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        GRIDS
                    </li>
                    <div id='sidebarGrids' style='max-height: 25vh; overflow: auto;'>
                    </div>
                </ul>
            </div>
        </div>
        <div id='main' class="col-12 col-md-10 d-flex flex-column" 
            style="background-color: #f5f5f5; overflow-y: scroll;"></div>
    </div>
    
{% endblock content %}

{% block script %}
<script src="{% static 'browser.js' %}"></script>
{% endblock script %}