{% extends "general/right_sidebar.html" %}
{% block title %}Collection statistics{% endblock %}
{% block sidebar_content %}
    <hr class="mx-3 my-2">
    <div class="col justify-content-center">
        <div class='row'>
            <div class='col-auto pr-0'><b>Holes in queue:</b></div>
            <div id='holeCountQueued' class='col-auto pl-0'>{{queued}}</div>
        </div>
        <div class='row'>
            <div class='col-auto pr-0'><b>Holes acquired:</b></div>
            <div id='holeCountAcquired' class='col-auto pl-0'>{{completed}}</div>
        </div>
        <div class='row'>
            <div class='col-auto pr-0'><b>Holes per hour:</b></div>
            <div id='holeCountPerhour' class='col-auto pl-0'>{{perhour}}</div>
        </div>
        <div class='row'>
            <div class='col-auto pr-0'><b>Holes in the last hour:</b></div>
            <div id='holeLasthour' class='col-auto pl-0'>{{lasthour}}</div>
        </div>
        {{graph|safe}}
    </div>
    </div>

<script>
    $("img[id$='_help']").tooltip();
</script>

{% endblock %}

