{% block report %}
{% csrf_token %}
<div id='report' class="container-fluid">
    <div class="row align-items-center d-flex justify-content-between">
        <h1 class="tilte align-middle">Screening Report: {{grid.position}} {{grid.name}}</h1>
        <button id="goToSeleMenu" class="btn btn-outline-primary" type="button" onclick="openGoTo(this)">Go To</button>
        <div class="row d-flex align-items-center">
            <b>Last update:</b> <i>{{grid.last_update}}</i> <span><b>Status:</b> {{grid.status}}
            </span>{% if grid.status == 'started' %}<span><button id="stop-button" class="btn-sm btn-outline-danger "
                    type="button" value="stop">Stop</button></span>{% endif %}

        </div>
        <div class="d-flex flex-row">
            <h3 class="title align-middle">Grid Quality: </h3>
            <button id="goodGrid" class="btn btn-outline-success h-50 {% if grid.quality == 'good' %}active{% endif %}"
                onclick='rateGrid(this)' value='good'>Good</button>
            <button id="badGrid" class="btn btn-outline-danger h-50 {% if grid.quality == 'bad' %}active{% endif %}"
                onclick='rateGrid(this)' value='bad'>Bad</button>
        </div>
    </div>
    <div class='d-flex flex-row'>
        <form id='editNotesForm' class='col-9 d-flex flex-row align-items-center m-0' action='#'>
            <div class='col-auto pr-0'><b>User Notes:</b>
            </div>
            <textarea class="form-control col-9 pl-0" type="text" id="notes" name="notes"
                rows="1">{{grid.notes}}</textarea>
            <input id="editNotesSubmit" class="btn-sm btn-outline-primary" type="submit" value="Save">
        </form>
        <div class='col-1 align-items-center'>
            <button id='gridStatsBtn' class="btn-sm btn-outline-primary" type="button" data-toggle="collapse"
                data-target="#collapseGridStats" aria-expanded="false" aria-controls="collapseExample">
                Show stats
            </button>
        </div>

        <div class='col-1 align-items-center'>
            <button id='gridParamBtn' class="btn-sm btn-outline-primary" type="button" data-toggle="collapse"
                data-target="#collapseGridParams" aria-expanded="false" aria-controls="collapseExample">
                + grid details
            </button>
        </div>
        <div class='col-1 align-items-center'>
            <button id='legendsBtn' class="btn-sm btn-outline-primary" type="button" data-toggle="collapse"
                data-target="#legends" aria-expanded="false" aria-controls="collapseExample">
                Show legend
            </button>
        </div>
    </div>
    <hr>
    <div id="collapseGridStats" class="collapse">
        <div class='row align-items-center'>
            <div class='row col-3'>
                <div class='col-auto pr-0'><b>Holes in queue:</b></div>
                <div id='holeCountQueued' class='col-auto pl-0'></div>
            </div>
            <div class='row col-3'>
                <div class='col-auto pr-0'><b>Holes acquired:</b></div>
                <div id='holeCountAcquired' class='col-auto pl-0'></div>
            </div>
        </div>
        <hr>
    </div>
    <div id="collapseGridParams" class="collapse">
        <form id='editGridForm' action='#'>
            <div class='row align-items-center'>
                {% for field in gridform %}
                <div class='col-auto pr-0'><b>{{field.label}}:</b></div>
                <div class='col-2 pl-0'>{{field}}</div>

                {% endfor %}
                <input id="editGridSubmit" class="btn-sm btn-outline-primary" type="submit" value="Save">
            </div>
        </form>
        <hr>
        <form id='editCollectionForm' action='#'>
            <div class='row align-items-center'>
                {% for field in gridCollectionParamsForm %}
                <div class='row col-3'>
                    <div class='col-8 pr-0'><b>{{field.label}}:</b></div>
                    <div class='col-4 pl-0'>{{field}}</div>
                </div>
                {% endfor %}
                <input id="editCollectionSubmit" class="btn-sm btn-outline-primary" type="submit" value="Save">
            </div>
        </form>
        <hr>
    </div>

    <div id='legends' class="row collapse">
        <div class='col-6'>
            <div class='row'>
                <b>Atlas Legend:</b>
                <button class="btn btn-xs completed active" onclick='hideSVG(this, true)'
                    value='completed'>Acquired</button>
                <button class='btn btn-xs queued active' onclick='hideSVG(this, true)' value='queued'>Queued</button>
                <button class='btn btn-xs good active' onclick='hideSVG(this)' value='good'>Good</button>
                <button class='btn btn-xs bad active' onclick='hideSVG(this)' value='bad'>Bad</button>
                <button class='btn btn-xs cracked broken active' onclick='hideSVG(this)'
                    value='cracked'>Cracked/Broken</button>
                <button class='btn btn-xs contaminated active' onclick='hideSVG(this)'
                    value='contaminated'>Contaminated</button>
                <button class='btn btn-xs fractioned active' onclick='hideSVG(this)'
                    value='fractioned'>Fractioned</button>
                <button class='btn btn-xs Dry active' onclick='hideSVG(this)' value='Dry'>Dry</button>
            </div>
        </div>
        <div class='col-6'>
            <div class='row'>
                <b>Prediction classes:</b>
                {% for class in class_choices %}
                <button class="btn btn-xs btn-outline class_{{class.0}}" onclick='hideSVG(this, true)'
                    value='{{class.0}}'>{{class.1}}</button>
                {% endfor %}

            </div>
            <div class='row'>
                <b>Quality labels:</b>
                {% for quality in quality_choices %}
                <button class="btn btn-xs quality-{{quality.0}} active" onclick='hideSVG(this, true)'
                    value='{{quality.0}}'>{{quality.1}}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div id="Atlas_div" class="col-12 col-xl-6 justify-content-center text-center">
                <div class="d-flex align-middle justify-content-center">
                    <h3 class="d-inline">Atlas</h3>


                </div>
                <div>
                    <button id='squareSeleMenu' class="btn btn-sm btn-outline-primary"
                        onclick="optionMenu(this, squareSelection, 'squares')" value='holes' disabled>...</button>
                    <button id='squareClearSele' class="btn btn-sm btn-outline-primary"
                        onclick="clearSelection(squareSelection,'square')" value='clearholes' disabled>Clear
                        Selection</button>
                </div>

                <div id="Atlas_im"></div>
            </div>
            <div id="Square_div" class="col-12 col-xl-6 justify-content-center text-center">
                <div class="d-flex align-middle justify-content-center">
                    <h3 class="d-inline" id="squareNum">Square</h3>
                </div>
                <div class="d-flex align-middle justify-content-center">
                    <div id="queueBtns">
                        <button class="btn btn-sm btn-outline-primary ml-2" onclick='queueSquareTargets(this)'
                            value='addall'>Queue all holes</button>
                        <button class="btn btn-sm btn-outline-primary" onclick='queueSquareTargets(this)'
                            value='cancelall'>Cancel all holes</button>
                    </div>
                    <div>
                        <button id='holeSeleMenu' class="btn btn-sm btn-outline-primary"
                            onclick="optionMenu(this, holeSelection, 'holes')" value='holes' disabled>...</button>
                        <button id='holeClearSele' class="btn btn-sm btn-outline-primary"
                            onclick="clearSelection(holeSelection,'hole')" value='clearholes' disabled>Clear
                            Selection</button>
                    </div>
                    <div>
                        <button id='addTargets' class="btn btn-sm btn-outline-primary"
                            onclick="addTargets(this, targetsSelection)" value='addTargets' disabled>Add
                            Targets</button>
                        <button id='clearTargets' class="btn btn-sm btn-outline-primary"
                            onclick="clearSelection(targetsSelection,'targets')" value='addTargets' disabled>Clear
                            Targets</button>
                        <button id='regroupBIS' class="btn btn-sm btn-outline-primary" onclick="regroupBIS()"
                            value=''>Regroup BIS</button>
                    </div>
                </div>

                <div id="Square_im"></div>
            </div>
        </div>
        <div id="Hole_div" class="row">
            <h3 id=holeNum class="col-12 justify-content-center text-center"> Hole</h3>
            <div id="Hole" class="col-12 text-center p-0"></div>
        </div>
    </div>
</div>

<div id='popupMenu' class="dropdown-menu">
    <div class="div" id="quality">
        <h6 class="dropdown-header">Edit quality</h6>
        <button id='opt-good' class="dropdown-item" value='good' onclick="popupSele(this)">Good</button>
        <button id='opt-bad' class="dropdown-item" value='bad' onclick="popupSele(this)">Bad</button>
        <button id='opt-cracked' class="dropdown-item" value='cracked' onclick="popupSele(this)">Cracked</button>
        <button id='opt-contaminated' class="dropdown-item" value='contaminated'
            onclick="popupSele(this)">Contaminated</button>
        <button id='opt-fractioned' class="dropdown-item" value='fractioned'
            onclick="popupSele(this)">Fractioned</button>
        <button id='opt-dry' class="dropdown-item" value='dry' onclick="popupSele(this)">Dry</button>
    </div>
    {% if grid.status != 'complete' %}
    <div class="div" id="queue">
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Add/remove from Queue</h6>
        <button id='opt-queued' class="dropdown-item" value='1' onclick="popupSele(this)">Queue</button>
    </div>
    {% endif %}
</div>

<div id='popupMenuHole' class="dropdown-menu">
    <div class="div" id="quality">
        <h6 class="dropdown-header">Edit quality</h6>
        {% for quality in quality_choices %}
        <button id='opt-{{quality.0}}' class="dropdown-item" value='{{quality.0}}'
            onclick="popupSele(this)">{{quality.1}}</button>
        {% endfor %}
    </div>
    {% if grid.status != 'complete' %}
    <div class="div" id="queue">
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Add/remove from Queue</h6>
        <button id='opt-queued-hole' class="dropdown-item" value='1' onclick="popupSele(this)">Queue</button>
    </div>
    {% endif %}
</div>

<div id='popupMenuGoTo' class="dropdown-menu">
    <div class="div" id="quality">
        <a id='curateMics' class="dropdown-item"
            href="{% url 'evaluatemicrographs' %}?grid_id={{grid.grid_id}}&format=json">
            Curate micrographs </a>
        <a id='curateMics' class="dropdown-item" href="{% url 'run_autoscreen' %}{{grid.session_id.session_id}}">View
            Logs</a>
    </div>
</div>

<div id='zoomedView' class="popupFull hidden">
    <button class="btn btn-outline-primary close-btn" onclick='closePopup(this.parentElement)' value=''>X</button>

    <h3 id='hm_name'></h3>
    <div id='hmQuality'>
        {% for quality in quality_choices %}
        <button id='rateQuality-{{quality.0}}' class="btn btn-xs btn-outline-primary"
            value='{{quality.0}}'>{{quality.1}}</button>
        {% endfor %}
    </div>
    <div id='zoomedContent' style='display:flex; height:100%;'>
        <div id='zoomedMic' class='col-6'>
            <img id='mic' class='mw-100 mh-100' src=''>
        </div>
        <div id='fft' class='col-6'>
            <img id='fftImg' class='mw-100 mh-100' src=''>
            <div id='ctffind' class='ctftext'>
                <p><b id='defocus'></b></p>
                <p><b id='ctffit'></b></p>
                <p><b id='astig'></b></p>
            </div>
        </div>
    </div>

</div>
</div>

{% endblock report %}

{% block script %}
{% load static %}


<script src="{% static 'reports.js' %}"></script>
<script>
    var directory = "{{ directory }}";
    var gridStatus = "{{ grid.status }}";
    var atlas_id = "{{ atlas_id }}";
    var grid_id = "{{grid.grid_id}}";
</script>
{% endblock script %}