<hr>
<div class="col justify-content-center">
    <span><b>Description:</b> {{description}}</span>
    <form  method="post">
        {% csrf_token %}
        
        {% include "forms/formFieldsBase.html" with form=form row=false %}
        <div class="d-flex flex-row align-content-center">
            <button type="submit" class="btn btn-primary" 
                hx-post="{% url 'setPreprocessingPipeline' pipeline=pipeline grid_id=grid_id %}" 
                hx-indicator="#spinner" 
                {% if not grid_id %}
                hx-target="#formPreprocess"
                {% else %}
                hx-target="#rightSidebarMenu"
                hx-swap="outerHTML"
                {% endif %}
                >
                Save
            </button>
            <div id="spinner" class="my-indicator spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </form>
</div>

<script>
    $("img[id$='_help']").tooltip();
</script>